@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFDEB;
    font-family:"Cormorant", serif;
    font-style: italic;
}
.cabecalho{ 
     background-color:#CE2626; 
     display: flex; 
     justify-content: space-between;
     padding: 15px 25px;
     align-items: center;

}