@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #DAF9DE;
    font-family:  font-family: "Cormorant", serif;
}
.cabecalho{ 
     background-color:#169976; 
     display: flex; 
     justify-content: space-between;
     padding: 15px 25px;
     align-items: center;